.fab{
    margin-right: 20px;
    color: blue
}
.footer-container{
    background-color: rgb(87, 87, 182);
    color: #fff;
    margin-top: 100px;
    padding: 10px;
}
/* .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root:after {
    border-bottom-color: white !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root:before {
    border-bottom-color: white !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    color: white !important;
} */